%estilosAntigua{
    width: 400px;
    height: 150px;
    display: inline; 
}


.antigua{
    @extend %estilosAntigua;
    margin-left: 0.5rem;
}

.antigua-dos {
    @extend %estilosAntigua;
    margin-left: 0.5rem;
} 